manifest {
	mainScript = "main.nf"
	defaultBranch = "master"
	nextflowVersion = ">=0.32.0"
}

params {
	input_dir = "${PWD}/data"
	dataset = "${PWD}/data/Yeast.txt"
	chunks = 10
	clus_method = "none"
	corr_method = "pearson"
	output_dir = "${PWD}/output"

	run_import_emx = true
	run_similarity = true
	run_threshold = true
	run_extract = true

	execution {
		queue_size = 100
		threads = 1
		max_retries = 0
		error_strategy = "terminate"
	}
}



report {
	file = "${params.output_dir}/report.html"
}



timeline {
	file = "${params.output_dir}/timeline.html"
}



trace {
	fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
	file = "${params.output_dir}/trace.txt"
	raw = true
}



docker {
	sudo = true
	runOptions = "--runtime=nvidia --mount type=bind,src=${params.input_dir},dst=${params.input_dir},readonly --mount type=bind,src=${params.output_dir},dst=${params.output_dir}"
}



process {
	container = "bentsherman/kinc:latest"
	errorStrategy = { "${task.attempt}" <= "${params.execution.max_retries}" ? "retry" : "${params.execution.error_strategy}" }
	maxRetries = "${params.execution.max_retries}"
	// maxErrors = 1000
}



profiles {

	standard {
		process.executor = "local"
		executor.cpus = 1
		executor.memory = "8 GB"
	}

	pbs {
		process {
			executor = "pbs"
			time = "8h"
			clusterOptions = "-l select=1:mem=2gb:ncpus=2:ngpus=2:gpu_model=p100"
		}
		executor {
			queueSize = "${params.execution.queue_size}"
		}
	}
}
